.header{
    /* border:2px solid blue; */
    width: 80%;
    height: 15%;
    display: flex;
   justify-content: space-between;
   align-items:center ;
   background-color: burlywood;

}

.logo{
    border: 3px solid rgb(38, 38, 44);
    height: 2rem;
    width: 8rem;
    margin-left: 6rem;
    box-shadow: 5px 5px 5px burlywood;
}
.logo p{
    text-align: center;
    font-size: larger;
    font-weight: 800;
    
}
ul{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 9rem;

}

li{
    padding: 2rem;
    list-style: none;
    font-size: larger;
    font-weight: 600;
    color: black;
}